{% extends "admin/change_list.html" %}
{% block extrastyle %}

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
    {{ block.super }}
{#    <style>#}
{#        table#result_list td:nth-child(3) {width: 5em;} {#Column: state #}
{#        table#result_list td:nth-child(5) {width: 5em;} {#Column: link to studio's Site Conf#}
{#        table#result_list td:nth-child(6) {width: 5em;} {#Column: link to studio's home page#}
{#        table#result_list td:nth-child(7) {width: 5em;} {#Column: link to studio's schedule page#}
{#        table#result_list td:nth-child(8) {width: 5em;} {#Column: link to studio's SchedYoga page#}
{#    </style>#}
{% endblock %}