{% extends "teacher/teacher-base.html" %}

{% block header %}
    <title>Profile and Schedule for Yoga Teacher: {{ instructor.instructor_name }}, {{ state.name }}</title>
    <meta name="description" content="View profile and schedule for yoga teacher: {{ instructor.instructor_name }}, {{ state.name }}">

{% endblock %}

{% block teacher-main-conent %}


<div class="row">

{% if instructor.content %}
    <div class="col-md-8">
    {% if not calendar.getDistinctStudios or calendar.getDistinctStudios.count == 0  %}
        <h4> At this time we do not have any information about {{ instructor.instructor_name }} </h4>
    {% endif %}
        {% for content_time in instructor.content %}
            <blockquote>{{ content_time.content }}
                <small>Source: <cite title="{{ content_time.source_name }}">
                    <a href="{{ content_time.source_url }}" title="{{ content_time.source_name }}">{{ content_time.source_name }}</a>
                </cite></small>
            </blockquote>
        {% endfor %}

             <div class="panel panel-primary">
            <div class="panel-heading"> Teaches at the following Yoga Studios:</div>
            <div class="list-group">
                {% for studio in calendar.getDistinctStudios %}
                    {% url 'studio-profile' studio.state.nameForURL studio.nameForURL as url_to_studio_page %}
                    <a href="{{ url_to_studio_page }}" class="list-group-item" alt="Yoga Studio: {{ studio.name }}" title="Yoga Studio: {{ studio.name }}">
                        <span class="glyphicon glyphicon-home"></span> {{ studio.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        {% include "teacher/snippet-feedback.html" with instructor=instructor only %}
    </div>

{% else %}

    <div class="col-md-8">
        {% if not calendar.getDistinctStudios or calendar.getDistinctStudios.count == 0  %}
            <h4> At this time we do not have any information about {{ instructor.instructor_name }} </h4>
        {% else %}
            <h4>According to our records yoga teacher {{ instructor.instructor_name }} is: </h4>
            <div class="panel panel-primary">
                <div class="panel-heading"> Teaches at the following Yoga Studios:</div>
                <div class="list-group">
                {% for studio in calendar.getDistinctStudios %}
                    {% url 'studio-profile' studio.state.nameForURL studio.nameForURL as url_to_studio_page %}
                    <a href="{{ url_to_studio_page }}" class="list-group-item" alt="Yoga Studio: {{ studio.name }}" title="Yoga Studio: {{ studio.name }}">
                        <span class="glyphicon glyphicon-home"></span> {{ studio.name }}
                    </a>
                {% endfor %}

                </div>
            </div>
        {% endif %}
    </div>
    <div class="col-md-4">
        {% include "teacher/snippet-feedback.html" with instructor=instructor only %}
    </div>

{% endif %}

</div>

    {% comment %}

    <h3> {{ instructor.instructor_name }}'s Profile: </h3>
    <blockquote>
        <p>
         Jeanne's journey to Bikram Yoga began with a deep realization that if she were to save her life she would need to change it, entirely. An actress, she arrived in NYC in search of fame and fortune but instead found drugs and alcohol. There, she checked herself into a long-term residential rehab facility to finally detox all drugs. But when she re-entered the world, the physical damage to her body was taking its toll and that's when her friend bought her a 30-day Bikram Yoga introductory package. Bikram Yoga turned out to be the missing puzzle piece to her recovery. Jeanne is the proud recipient of Bikram's 2010 Teacher Training Scholarship. Her mission is to teach all people, especially recovering drug addicts, that no matter how bad you think it is, it's never too late to start from the scratch, one posture at a time.
        </p>

        <small>From <cite title="Source Title"> <a href="http://www.bikramyoganyc.com/about-us/our-instructors/"></a> Bikram Yoga NYC website</cite>
        </small>
    </blockquote>
    {% endcomment %}

{% endblock %}

