<ul class="nav nav-tabs">
    <li class="{% ifequal curPage.id curPage.ENUM_TEACHER_PROFILE %}active{% endifequal %}">
        {% url 'teacher-profile' stateNameForURL teacher.name_url as url_to_teacher_profile %}
        <a href="{{ url_to_teacher_profile }}" title="Profile of Yoga Teacher: {{ teacher.instructor_name }}">Profile</a>
    </li>
    <li class="{% ifequal curPage.id curPage.ENUM_TEACHER_SCHEDULE %}active{% endifequal %}">
        {% url 'teacher-schedule' stateNameForURL teacher.name_url as url_to_teacher_schedule %}
        <a href="{{ url_to_teacher_schedule }}" title="Schedule for Yoga Teacher: {{ teacher.instructor_name }}">Schedule</a>
    </li>
    {% if teacher.fb_userid %}
    <li class="{% ifequal curPage.id curPage.ENUM_TEACHER_FACEBOOKFEED %}active{% endifequal %}">
        {% url 'teacher-facebook-feed' stateNameForURL teacher.name_url as url_to_teacher_facebook_feed %}
        <a href="{{ url_to_teacher_facebook_feed }}" title="Facebook Feed for Yoga Teacher: {{ teacher.instructor_name }}">Facebook Feed</a>
    </li>
    {% endif %}
</ul>