{% extends "studio/studio-base.html" %}
{% block header %}
    <title>Facebook feed and Schedule for Yoga Studio: {{ studio.name }}, {{ state.name }}</title>
    <meta name="description" content="View Facebook feed and schedule for yoga studio: {{ studio.name }}, {{ state.name }}">
{% endblock %}

{% block studio-main-conent %}

    {% if feeds %}
        {% load schyoga_custom_tags %}
        {% load humanize %}

        <div id="page">
            <div id="wall" class="facebookWall">
            <h2>
                <a href="http://facebook.com/{{ studio.fb_id }}">{{ studio.name }}'s Facebook feed:
                    <img class="img-thumbnail" alt="{{ studio.name }}'s Facebook profile picture"  src="http://graph.facebook.com/balancedyoga/picture?type=large"/>
                </a>
            </h2>
                <ul>
                {% for feed in feeds %}
                    <li>
                        <a href="http://www.facebook.com/profile.php?id={{ feed.from.id }}" target="_blank">
                            <img src="http://graph.facebook.com/{{ feed.from.id }}/picture?type=small" class="avatar" alt="{{ feed.from.name }}">
                        </a>
                        <div class="status">
                            <h2>{{ feed.story }}</h2>
                            <p class="message">{{ feed.message }} </p>

                            <div class="attachment">
                                <img class="picture" src="{{ feed.picture }}">
                                <div class="attachment-data">
                                    <p class="name"><a href="{{ feed.link }}" target="_blank">{{ feed.name }}</a>
                                    </p>
                                    <p class="caption">{{ feed.caption }}</p>
                                    <p class="description"> {{ feed.description }} </p>
                                </div>
                            </div>
                        </div>

                        <p class="meta">{{ feed.created_time|convert_fb_date|naturaltime}} ·      {{ feed.comments.data|length }} Comments   ·      {{ feed.likes.count }} Likes    </p>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

