{% extends "base.html" %}
{% block content %}

<h1>View Schedule for Yoga Studios in {{ state.name }}:</h1>

<div class="row">
    <div class="col-md-9">
        {% load staticfiles %}

        <img src="{% static "img/women-practicing-yoga-at-a-yoga-studio.jpg" %}" class="img-thumbnail pull-right" alt="Practicing Yoga in a Yoga Studio" title="Practicing Yoga in a Yoga Studio" />

        <ol>
        {% for studio in studios %}

            {% url 'studio-profile' state.nameForURL studio.nameForURL as url_to_studio_page %}

            <li><a href="{{ url_to_studio_page }}"  title="Schedule for Yoga Studio {{ studio.name }} in {{ state.name }}">{{ studio.name }}</a></li>

        {% endfor %}
        </ol>
    </div>
    <div class="col-md-3">
        Right Nav
    </div>
</div>
{% endblock %}
