{% extends "studio/studio-base.html" %}

{% block header %}
    <title>Profile and Schedule for Yoga Studio: {{ studio.name }}, {{ state.name }}</title>
    <meta name="description" content="View profile and schedule for yoga studio: {{ studio.name }}, {{ state.name }}">
{% endblock %}

{% block studio-main-conent %}

<div class="row">
    <div class="col-md-9">

        <div class="panel panel-primary">

              <div class="panel-heading">Original Information sources about Yoga Studio "{{ studio.name }}" in {{ state.name }}:</div>

              <div class="list-group">
                <a href="{{ studio.url_home }}" class="list-group-item" alt="{{ studio.name }} home page" title="{{ studio.name }} home page" target="_blank"> Original Homepage </a>
                <a href="{{ studio.url_schedule }}" class="list-group-item" alt="{{ studio.name }} page with schedule" title="{{ studio.name }} page with schedule" target="_blank"> Original Schedule page</a>

              </div>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>


    {% comment %}
    <blockquote>

    <p><strong>WELCOME TO BALANCED YOGA </strong><br>
        <em>Your neighborhood studio</em><br>
        A place where we come together to practice all levels, all love, all the time.</p>

    <p>If you are new to Balanced, we welcome you to our sacred, fun, and open-hearted studio. You will find that every student who walks through the door of Balanced is met with an open heart both on and off the mat.</p>

    <p>We offer a variety of classes at Balanced because we believe in the intrinsic healing power of all forms of asana as well as the lifestyle lived by the yogi/yogini. We are a place where competition is left behind, as we offer all level classes, all the time. </p>

    <p>Classes are open to every(body) to promote a caring, non-competitive environment where you can relax, work up a sweat and have fun. So if you are new to yoga, pick a class and start your journey. If you have been practicing a day or a year, keep coming and grow your practice, because every day is a beginner day.  </p>

    <p>Namaste</p>


        <small>From <cite title="Source Title"> <a href="http://balancedyoga.us/about-bys/"></a> Balanced Yoga website</cite>
        </small>
    </blockquote>
    {% endcomment %}
{% endblock %}

