{% extends "studio/studio-base.html" %}
{% block studio-main-conent %}

{% load schyoga_custom_tags %}

<p>
The schedule for
    <a href="{{ studio.url_home }}" title="Yoga studio {{ studio.name }} home page" target="_blank">
        Yoga Studio "{{ studio.name }}"
    </a>
    presented below was built from the studio's schedule located <a href="{{ studio.url_schedule }}" title="Yoga studio {{ studio.name }} schedule" target="_blank">here</a>
</p>

<button id="prevBtn" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> Prev</button>
<button id="nextBtn" type="button" class="btn btn-primary pull-right">Next <span class="glyphicon glyphicon-chevron-right"></span></button>

<script>
// behavior for scrolling buttons left and right
$(function() {  // DOM READY shorthand
  $("#nextBtn, #prevBtn").click(function() {
    var dir = this.id=="nextBtn" ? '+=' : '-=' ;
    $("#scrollableCalendar").stop().animate({scrollLeft: dir+'400'}, 500);
  });

});
</script>


<div id="scrollableCalendar" style=" overflow-x: hidden">
    <table class="calendar table table-responsive table-striped table-bordered table-condensed table-hover" >
        <tbody>
        <tr>
            <th>Start Time</th>
            {% for calDate in calendar.calendarDates %}
                <th class="cal_info_cell">
                <div class="text-center">{{ calDate|date:"D" }}</div>
                <div class="text-center" style="white-space: nowrap;">{{ calDate|date:"M d" }}</div>
                </th>
            {% endfor %}
        </tr>
        {% for calendarTime in calendar.calendarTimesStr %}
        <tr>
            <td class="cal_time_cell">
                <span class="carrot_compact"> &nbsp;</span>
                <div class="text-left" style="white-space: nowrap;"> {{ calendarTime }} </div>
            </td>
            {% for calDate in calendar.calendarDates %}
                {% events_from_calendar calendar calDate calendarTime as events%}
                {%  if not events %}
                    <td class="cal_info_cell summary"> </td>
                {%  else %}
                    {% include "studio/snippet-calendar-event.html" with events=events only %}
                {%  endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% if calendar.getNumOfEvents > 0  %}
    <p>
       Links below will take you to complete schedule for yoga teachers in {{ studio.name }} yoga studio:
    </p>

    <ul>
    {% for instructor in calendar.getDistinctInstructors %}
    <li>
        {% url 'teacher-schedule' instructor.state  instructor.name_url as url_to_instructor_page %}
        <a href="{{ url_to_instructor_page }}" title="Schedule for Yoga Teacher {{ instructor.instructor_name }}"> {{ instructor.instructor_name }} </a>
    </li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}