{% extends "studio/studio-base.html" %}
{% block studio-main-conent %}

{% load maxcustomfilter1 %}

<button id="prevBtn" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> Prev</button>
<button id="nextBtn" type="button" class="btn btn-primary pull-right">Next <span class="glyphicon glyphicon-chevron-right"></span></button>

<script>
// behavior for scrolling buttons left and right
$(function() {  // DOM READY shorthand
  $("#nextBtn, #prevBtn").click(function() {
    var dir = this.id=="nextBtn" ? '+=' : '-=' ;
    $("#scrollableCalendar").stop().animate({scrollLeft: dir+'400'}, 500);
  });

});
</script>


<div id="scrollableCalendar" style="max-width: 780px; overflow-x: hidden">
    <table class="calendar table table-responsive table-striped table-bordered table-condensed table-hover" >
        <tbody>
        <tr>
            <th>Start Time</th>
            {% for calDate in calendar.calendarDates %}
                <th class="cal_info_cell">
                <div class="text-center">{{ calDate|date:"D" }}</div>
                <div class="text-center" style="white-space: nowrap;">{{ calDate|date:"M d" }}</div>
                </th>
            {% endfor %}
        </tr>
        {% for calendarTime in calendar.calendarTimesStr %}
        <tr>
            <td class="cal_time_cell">
                <span class="carrot_compact"> &nbsp;</span>
                <div class="text-left" style="white-space: nowrap;"> {{ calendarTime }} </div>
            </td>
            {% for calDate in calendar.calendarDates %}
                {% getEventsFromCalendar calendar calDate calendarTime as events%}
                {%  if not events %}
                    <td class="cal_info_cell summary"> </td>
                {%  else %}
                    {% include "snippet-calendar-event-studio.html" with events=events only %}
                {%  endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}