
<!DOCTYPE html>
<html>
<head>

    <title> Sorry! We don't have the page for the URL that you are requesting. </title>

    <link rel="shortcut icon" href="/static/img/favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.css">

    <link rel="stylesheet" href="/static/css/bootstrap-customizations.css">

    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js"></script>


</head>

<body>

    <!-- <script src="/static/js/bootstrap.min.js"></script>-->

<div class="container">
    <div class="row">

        <div class="col-md-1">
            <!--Sidebar content-->
        </div>

        <div class="col-md-10">
            <!--Body  content-->

            <div class="navbar">
                <a class="pull-left" style="margin-right: 15px;" href="/"><img src='/static/img/schedule-yoga-logo.png' height="40px"/></a>

                <div class="navbar-inner">
                    <ul class="nav navbar-nav">
                            <li class=" ">
                                <a href="/new-york/teachers/" >
                                    Teachers
                                </a>
                            </li>

                            <li class=" ">
                                <a href="/new-york/studios/" >
                                    Studios
                                </a>
                                    </li>

                            <li class="">
                                <a href="/about-us.html" >
                                    About Us
                                </a>
                            </li>
                    </ul>
                </div>
            </div>


            <ul class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">Page Not Found</li>
            </ul>


            <div class="clearfix" style="margin-top:40px;"></div>

            <div class="text-center">
                <div class="text-danger"><h1>Page Not Found</h1></div>

                <div class="lead"> Sorry. The page that you are requesting does not exist on our server. </div>

                <strong><div class="currentURL text-danger"></div></strong>
                <script>$('div.currentURL').html('Requested URL -- '+document.URL+' -- is not recognized. ');</script>

                <div class="clearfix" style="margin-top:40px;"></div>
                <p>Click <a href="/" title="ScheduleYoga.com home page"><strong>here</strong></a> to return to the <a href="/" title="ScheduleYoga.com home page"><strong>homepage</strong></a>
            </div>



            <div class="clearfix" style="margin-top:40px;"></div>

            <div class="container text-center">
                    <span>
                        <a href="/about-us.html" title="About Us: The ScheduleYoga.com Story">About Us </a> |
                    </span>
                    <span>
                        <a href="/privacy-policy.html" target="new" title="ScheduleYoga.com Privacy Policy">Privacy Policy</a> |
                    </span>
                    <span>
                        <a href="/shout-outs.html" title="Thanks to the Community">Shout-Outs </a>
                    </span>
                    <br>
                    <span>
                       Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2011 <a href="/" title="ScheduleYoga.com">ScheduleYoga.com</a>. All rights reserved.
                    </span>
            </div>
        </div>
        <div class="col-md-1">
            <!--Sidebar content-->
        </div>
    </div>

</div>

</body>

</html>