{% extends "base.html" %}
{% block header %}
    <title>About Us: ScheduleYoga.com</title>
    <meta name="description" content="About Developers and Owners of ScheduleYoga.com site: Kristyn Zalota and Max Zalota">
{% endblock %}

{% block content %}
    {% load staticfiles %}


    <img src="{% static "img/kristyn-zalota.png" %}" class="img-thumbnail pull-left" style="margin: 10px;" title="Picture of ScheduleYoga founder - Kristyn Zalota" alt="Picture of ScheduleYoga founder - Kristyn Zalota"/>

    <p>
        I'm Kristyn - a Yoga Alliance Registered Yoga Teacher (RYT-200), specializing in therapeutic and prenatal yoga.
    I currently teach at <a href="http://www.thefitnesshaven.com/" title="The Fitness Haven Yoga Studio" target="_blank">The Fitness Haven</a> in New Haven, CT and
     <a href="http://www.ecoyoga.info/" title="Eco Yoga Yoga Studio" target="_blank">Eco Yoga</a> in Durham, CT.
     My love of travel and desire to share yoga with those in need has led me to teach in Thailand, Cambodia, Uganda and, soon, Nicaragua.
    </p>

    <p>
        So I travel and move a lot.
        My schedule is always in flux.
        I have two kids whose schedules throw additional fun into the mix.
        Yoga, however, is always a constant.
        It benefits me everyday: body and mind.
        Even as a teacher - especially as a teacher - I need to keep taking classes and learning.
        Sometimes, it's just hard to find a class to fit my schedule.
    </p>

        <img src="{% static "img/max-zalota.png" %}" class="img-thumbnail pull-right" style="margin: 10px;" title="Picture of ScheduleYoga founder - Max Zalota" alt="Picture of ScheduleYoga founder - Max Zalota"/>
    <p>
    One weekend, I was headed to NYC to visit friends and wanted to check out one of the city's legion yoga studios.
    I said to my husband, "Wouldn't it be nice if there was a website that compiled all the yoga schedules for Manhattan?"
    </p>

    <p>
    My husband Max, a software architect, replied "Yes. Let's do it."  And that was that.
    He stared working late nights and weekends on <a href="http://www.scheduleyoga.com/" title="Yoga Schedule for Studios, Classes and Teachers in Your Area">www.ScheduleYoga.com</a>,
    driven by my need, and the need of others, to find the perfect class at a time that works.
    </p>

    <p>
    Currently, <a href="http://www.scheduleyoga.com/" title="Yoga Schedule for Studios, Classes and Teachers in Your Area">www.ScheduleYoga.com</a> covers Manhattan but stay tuned for your city.
    This is not a site where studios sign up - Max has built a system that trolls for schedules and puts them in one place.
    This site will soon cover Seattle, San Francisco and Boston before going nationwide.
    </p>


{% endblock %}
