<!DOCTYPE html>
<html>
<head>
    {% block header %}
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    {% load staticfiles %}


    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet"> -->
    <!-- <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen" type="text/css"> -->
    <link href="{% static "fbwall.css" %}" rel="stylesheet" media="screen" type="text/css">


    <style>
        .calendar hr {
            margin: 4px 0;
        }
        .location {
            width: 8em;
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .bs-sidebar .nav  .active  ul { display: block; margin-bottom: 8px; }
    </style>

    {% load facebook %}
    {% facebook_init %}
        {% block facebook_code %}{% endblock %}
    {% endfacebook %}

</head>

<body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- <script src="{% static "js/bootstrap.min.js" %}"></script>-->

<div class="container">
    <div class="row">

        <div class="col-md-2">
            <!--Sidebar content-->
            left nav
        </div>
        <div class="col-md-10">
            <!--Body  content-->

            {% load sitetree %}
            <div class="navbar">
                <a class="navbar-brand" href="/">Max Zalota's Site</a>
                <div class="navbar-inner">
                    {% sitetree_menu from "main_tree" include "trunk" template "top-menu.html" %}
                </div>
            </div>

            {% sitetree_breadcrumbs from "main_tree" template "breadcrumbs.html" %}

            {% block content %}
            {% endblock %}

            <div class="clearfix" style="margin-top:40px;"></div>

            <div class="container text-center">
                    <span>
                        <a href="/about-us/" title="About Us: The ScheduleYoga.com Story">About Us </a> |
                    </span>
                    <span>
                        <a href="/privacy-policy/" target="new" title="ScheduleYoga.com Privacy Policy">Privacy Policy</a> |
                    </span>
                    <span>
                        <a href="/shout-outs.html" title="Thanks to the Community">Shout-Outs! </a> |
                    </span>
                    <span>
                        <a href="/site-map.html" title="Site Map">Site Map </a>
                    </span>
                    <br>
                    <span>
                       Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2011 <a href="/" title="ScheduleYoga.com">ScheduleYoga.com</a>. All rights reserved.
                    </span>
            </div>
        </div>


    </div>

</div>



</body>
{% facebook_load %}
</html>