{% extends "base.html" %}

{% block header %}
    <title>Yoga Schedule for Studios and Teachers in Your Area</title>
    <meta name="description" content="View yoga schedule in your area by studio or by teacher">
    <meta name="google-site-verification" content="eWUir4MVMW4pLD9EG0Vbor33rUWd6BE9tqPBM0dexAY" />
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4">

        <div class="panel panel-primary">
          <!-- Default panel contents -->
          <div class="panel-heading">Schedule for Yoga Studios in:</div>
          <!-- List group -->
          <div class="list-group">
            <a href="{% url 'studios' 'new-york' %}" class="list-group-item"> New York</a>
            <a href="{% url 'studios' 'connecticut' %}" class="list-group-item"> Connecticut (New Haven area)</a>
            <a href="{% url 'studios' 'massachusetts' %}" class="list-group-item"> Massachusetts (Boston)</a>
          </div>
        </div>

        <div class="panel panel-primary">
          <!-- Default panel contents -->
          <div class="panel-heading">Schedule for Yoga Teachers in:</div>
          <!-- List group -->
          <div class="list-group">
            <a href="{% url 'teachers' 'new-york' %}" class="list-group-item"> New York</a>
            <a href="{% url 'teachers' 'connecticut' %}" class="list-group-item"> Connecticut (New Haven area)</a>
            <a href="{% url 'teachers' 'massachusetts' %}" class="list-group-item"> Massachusetts (Boston)</a>
          </div>
        </div>

    </div>
    <div class="col-md-5">
        {% load staticfiles %}
        <img src="{% static "img/yoga-class-outdoors-led-by-a-woman.jpg" %}" class="img-thumbnail pull-right" alt="Yoga Class Outdoors Led by a Woman Yoga Teacher" title="Yoga Class Outdoors Led by a Woman Yoga Teacher" />
    </div>
    <div class="col-md-3">

    </div>
</div>

{% endblock %}
