{% extends "base.html" %}
{% block content %}

    {% for instructor in instructors %}
        {% url 'schyoga.views.instructor' instructor.name_url as url_to_instructor_page %}

        <h2><a href="{{ url_to_instructor_page }}">{{ instructor.instructor_name }}</a></h2>
        <p> Url is {{ url_to_instructor_page }}</p>
        <p>{{ instructor.url_facebook }}</p>
        <p>Created on pure:{{ instructor.created_on }}</p>
        <p>Modified on pure: {{ instructor.modified_on }}</p>
        <p>{{ instructor.modified_on|date:"l, F jS" }}</p>

        <img  src="http://graph.facebook.com/{{ instructor.fb_userid }}/picture?type=large"/>
        <!-- <img  src="http://graph.facebook.com/JeanneEllenHeaton/picture?type=large"/> -->

    {% endfor %}

{% endblock %}

