{% extends "base.html" %}
{% block header %}
    <title>Thanks to Open Source community and to Vendors </title>
    <meta name="description" content="Shout-out to all the developers of open source tools that we have been using at ScheduleYoga.com">
{% endblock %}

{% block content %}

    <h2>Thanks!</h2>
    <p>Thanks to Open-Source community for the tools and advice that helped create this site</p>
    <ul>
        <li><a href="https://www.djangoproject.com/" target="_blank"> Django </a> - for the development framework </li>
        <li><a href="https://readthedocs.org/projects/django-sitetree/" target="_blank"> Django Site Tree</a> - for menu, breadcrumbs and site tree package</li>
        <li><a href="http://getbootstrap.com/" target="_blank"> Bootstrap </a> - for the Style and Layout (CSS) framework </li>
        <li><a href="http://demo.tutorialzine.com/2011/03/custom-facebook-wall-jquery-graph/" target="_blank"> Tutorialzine.com </a> for Facebook Wall Style </li>
        <li><a href="http://colorschemedesigner.com/" target="_blank"> Color Scheme Designer </a> - for helping pick the color theme</li>
        <li><a href="http://pythonhosted.org/django-extensions/index.html" target="_blank"> Django Extensions </a> - for providing miscelaneous tools, such as "run script"</li>

        <li><a href="http://www.crummy.com/software/BeautifulSoup/bs4/doc/" target="_blank"> Beautiful Soup v4 framework </a> - for a robust html parser</li>
        <li><a href="http://docs.seleniumhq.org/projects/webdriver/" target="_blank"> Selenium 2 </a> - for embedded browser to load sites (with, frames, javascripts, etc.)</li>
        <li><a href="http://labix.org/python-dateutil" target="_blank"> python dateutil library </a> - for saving me the headache if parsing dates into computer-readable format</li>

    </ul>

    <p>Thanks to the commercial vendors for great tools and advice that helped create this site</p>
    <ul>
        <li><a href="http://www.jetbrains.com/pycharm/" target="_blank"> JetBrain PyCharm </a> - for the great IDE </li>
        <li><a href="http://stackoverflow.com/" target="_blank"> StackOverflow</a> - for creating such an amazing knowledge repository</li>
    </ul>

{% endblock %}
